<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>

<div class="container-fluid news-container padding-0" id="section1">
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="news-section">
                <h1 class="text-condensed-light positionCenter">News</h1>
            </div>
        </div>
    </div>
    <!--<div class="row margin-0 text-center">-->
    <!--<a class="arrow-wrapper cursor-pointer" href="#section2" du-smooth-scroll="" du-scrollspy="" offset="60" class="">-->
    <!--<i class="fa fa-angle-down arrow-down"></i>-->
    <!--</a>-->
    <!--</div>-->
    <div class="row margin-0 padding-top-40 bg-black" id="section2">
        <div class="news-section-container">
            <div class="col-sm-6 latest-news-container">
                <h2 class="text-white latest-news">Latest news</h2>
            </div>
            <div class="col-sm-6 text-right date-select-container">
                <!--<div class="container padding-20 months-wrapper">-->
                <!--<a class="cursor-pointer padding-10 text-white" ng-repeat="item in months" ng-click="getData(item)" ng-class="{active:item.str==selectedMonth.str}" ng-hide="item.str==selectedMonth.str && item.str=='All'">{{item.str}}</a>-->
                <!--</div>-->
                <label for="day-select">Show all from:</label>
                <select id="day-select" class="date-select">
                    <option value="Mar">Mar</option>
                    <option value="Feb">Feb</option>
                    <option value="Jan">Jan</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row margin-0 bg-black">
        <div class="col-xs-12">
            <div class="news-section-container" ng-hide="loading">
                <div class="row padding-top-10 padding-bottom-10">
                    <div class="col-sm-12 col-md-4 text-white news-info-box" ng-class="item.showAll==true?'scroll':''"
                         ng-repeat="item in news|limitTo:limit" ng-if="news.length">
                        <div class="new-image-container" ng-class="{'new-video-container':item.isVideo}">
                            <a target="_blank" ng-href="{{item.url}}"><img class="img-responsive"
                                                                           ng-src="{{item.image}}"
                                                                           imageonload="item.imageload=true"></a>
                            <a target="_blank" ng-href="{{item.url}}" ng-if="item.isVideo && item.imageload">
                                <div class="play-button"></div>
                            </a>
                        </div>
                        <div>
                            <h4>{{item.title}}</h4>
                            <p class="margin-top-10"><i class="fa fa-clock-o"></i> {{item.posted}}</p>
                            <p class="news-info-box-p-2 text-justify text-grey"
                               ng-if="item.content.length<=50 || item.showAll==true" ng-bind-html="item.content1"></p>
                            <span class="news-info-box-span-1 text-justify text-grey"
                                  ng-if="item.content.length>50&&!item.showAll" ng-bind-html="item.content2"></span>
                            <span class="read-more " ng-if="item.content.length>50&&!item.showAll"><a
                                    class="cursor-pointer text-white"
                                    ng-click="item.showAll=true">Read more...</a></span>
                        </div>
                    </div>
                    <!--<div class="col-sm-7 text-grey">-->
                    <!--<h4>{{item.title}}</h4>-->
                    <!--<p class="margin-top-10"><i class="fa fa-clock-o"></i> {{item.posted}}</p>-->
                    <!--<p class="text-justify" ng-if="item.content.length<=250 || item.showAll==true" ng-bind-html="item.content1"></p>-->
                    <!--<p class="text-justify" ng-if="item.content.length>250&&!item.showAll" ng-bind-html="item.content2"></p>-->
                    <!--<p ng-if="item.content.length>250&&!item.showAll"><a class="cursor-pointer" ng-click="item.showAll=true">Read more...</a></p>-->
                    <!--</div>-->
                </div>
                <div class="row padding-top-10 padding-bottom-10 text-center" ng-show="news.length>limit">
                    <a class="cursor-pointer news-load-more text-white" ng-click="limit=limit+step">More news</a>
                </div>
                <div class="row padding-top-10 padding-bottom-10" ng-if="!news.length">
                    <div class="col-sm-12 text-grey text-center">
                        <h4>There Is No News To Display</h4>
                    </div>
                </div>
            </div>
            <div class="container" ng-show="loading">
                <div class="row padding-top-10 padding-bottom-10">
                    <div class="col-sm-12 text-grey text-center">
                        <h4><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading ...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div ng-include="'app/home/partials/news-letter.html'"></div>
        </div>
    </div>
</div>


<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>
