<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>


<div class="container-fluid unsubscribe-container padding-0" id="section1">   
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="unsubscribe-section">
                <h2 class="sub-title padding-top-20">Thank You For Your Purchasing</h2>
                <h5 class="text-condensed-light unsubscribe-content">
					We have sent UDIDS to your email.
				</h5>
            </div>

            <div class="logo-text margin-bottom-20 margin-top-20">&nbsp;
            </div>
            <div class="logo-text margin-bottom-20 margin-top-20">&nbsp;
            </div>
            <div class="logo-text margin-bottom-20 margin-top-20">&nbsp;
            </div>
            <div class="logo-text margin-bottom-20 margin-top-20">&nbsp;
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div ng-include="'app/home/partials/news-letter.html'"></div>
        </div>
    </div>
</div>


<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>