<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>

<div class="container-fluid unsubscribe-container padding-0" id="section1">   
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="unsubscribe-section">
                <h2 class="sub-title padding-top-20">Thank You</h2>
                <h5 class="text-condensed-light unsubscribe-content">
					You have been successfully removed from this subscriber list.
					You will no longer hear from us.
				</h5>
            </div>
        </div>
    </div>
</div>


<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>