<loading visible="loading"></loading>
<div id="content">
    <div class="text-right margin-bottom-10">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()">Add New</button>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Sale Monthly Reports</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr style="text-align: center;">
                                        <th rowspan="2">No</th>
                                        <th st-sort="reg_date">Date</th>
                                        <th st-sort="paltform">Paltform</th>
                                        <th st-sort="unit" rowspan="2">unit</th>
                                        <th st-sort="amount" rowspan="2">amount</th>
                                        <th st-sort="refund_unit" rowspan="2">unit</th>
                                        <th st-sort="refund_amount" rowspan="2">amount</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="reg_date"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="paltform"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.reg_date}}</td>
                                        <td>{{row.paltform}}</td>
                                        <td>{{row.unit}}</td>
                                        <td>{{row.amount}}</td>
                                        <td>{{row.refund_unit}}</td>
                                        <td>{{row.refund_amount}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id,$index)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="10" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="YYYY-MM-DD" type="text" ng-model="currRow.reg_date" ng-readonly="currRow.id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Paltform</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.paltform" ng-disabled="currRow.id">
                                <option value="steam">Steam</option>
                                <option value="facebook">Facebook</option>
                                <option value="sony">Sony</option>
                                <option value="other ">Other </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Unit</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="" type="text" ng-model="currRow.unit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Amount</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="" type="text" ng-model="currRow.amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Refund Unit</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="" type="text" ng-model="currRow.refund_unit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Refund Amount</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="" type="text" ng-model="currRow.refund_amount">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>